{
  "openapi": "3.1.0",
  "info": {
    "title": "WebWaka OS v4 Platform API",
    "version": "4.0.0",
    "description": "The WebWaka OS v4 Open API — a vendor-neutral, offline-first, Africa-native SaaS Operating System. All endpoints support multi-tenancy and JWT-based RBAC.\n\n**Base URL:** `https://api.webwaka.io/v4`\n\n**Auth:** Bearer JWT (issued by `/auth/token`).",
    "contact": {
      "name": "WebWaka Platform Team",
      "url": "https://docs.webwaka.io",
      "email": "api@webwaka.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://webwaka.io/legal/terms"
    }
  },
  "servers": [
    { "url": "https://api.webwaka.io/v4", "description": "Production" },
    { "url": "https://staging-api.webwaka.io/v4", "description": "Staging" },
    { "url": "http://localhost:8000/v4", "description": "Local Development" }
  ],
  "tags": [
    { "name": "Auth", "description": "Authentication & token management" },
    { "name": "Tenants", "description": "Multi-tenant management" },
    { "name": "Commerce", "description": "Retail, POS, and marketplace" },
    { "name": "Transport", "description": "Fleet, booking, and mobility" },
    { "name": "Fintech", "description": "Payments, wallets, and settlements" },
    { "name": "AI", "description": "CORE-5 vendor-neutral AI completions" },
    { "name": "Webhooks", "description": "Webhook subscription management" },
    { "name": "Events", "description": "Platform event bus" }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Issue access token",
        "description": "Exchange credentials for a signed JWT access token and refresh token.",
        "operationId": "authToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRequest" },
              "example": { "email": "admin@acme.ng", "password": "secret", "tenantSlug": "acme-retail" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "Refresh access token",
        "operationId": "authRefresh",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "refreshToken": { "type": "string" } }, "required": ["refreshToken"] }
            }
          }
        },
        "responses": {
          "200": { "description": "New token issued", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/tenants": {
      "get": {
        "tags": ["Tenants"],
        "summary": "List all tenants",
        "operationId": "listTenants",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "vertical", "in": "query", "schema": { "type": "string", "enum": ["retail", "transport", "logistics", "fintech", "health"] } }
        ],
        "responses": {
          "200": { "description": "Paginated tenant list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TenantList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "tags": ["Tenants"],
        "summary": "Create a new tenant",
        "operationId": "createTenant",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TenantCreate" } } }
        },
        "responses": {
          "201": { "description": "Tenant created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tenant" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/tenants/{tenantId}": {
      "get": {
        "tags": ["Tenants"],
        "summary": "Get tenant by ID",
        "operationId": "getTenant",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "name": "tenantId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Tenant details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tenant" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["Tenants"],
        "summary": "Update tenant",
        "operationId": "updateTenant",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "name": "tenantId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TenantUpdate" } } }
        },
        "responses": {
          "200": { "description": "Tenant updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tenant" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/commerce/products": {
      "get": {
        "tags": ["Commerce"],
        "summary": "List products",
        "operationId": "listProducts",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "tenantId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "inStock", "in": "query", "schema": { "type": "boolean" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": { "description": "Product list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductList" } } } }
        }
      },
      "post": {
        "tags": ["Commerce"],
        "summary": "Create product",
        "operationId": "createProduct",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductCreate" } } }
        },
        "responses": {
          "201": { "description": "Product created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } }
        }
      }
    },
    "/commerce/orders": {
      "post": {
        "tags": ["Commerce"],
        "summary": "Create order",
        "operationId": "createOrder",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderCreate" } } }
        },
        "responses": {
          "201": { "description": "Order created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Order" } } } }
        }
      }
    },
    "/fintech/wallets": {
      "get": {
        "tags": ["Fintech"],
        "summary": "Get wallet balance",
        "operationId": "getWallet",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "tenantId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "currency", "in": "query", "schema": { "type": "string", "enum": ["NGN", "GHS", "KES", "ZAR", "USD"], "default": "NGN" } }
        ],
        "responses": {
          "200": { "description": "Wallet balance", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Wallet" } } } }
        }
      }
    },
    "/fintech/transfers": {
      "post": {
        "tags": ["Fintech"],
        "summary": "Initiate transfer",
        "operationId": "initiateTransfer",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransferRequest" } } }
        },
        "responses": {
          "202": { "description": "Transfer initiated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Transfer" } } } },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/transport/trips": {
      "get": {
        "tags": ["Transport"],
        "summary": "List trips",
        "operationId": "listTrips",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "tenantId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["scheduled", "in_transit", "completed", "cancelled"] } }
        ],
        "responses": {
          "200": { "description": "Trip list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TripList" } } } }
        }
      }
    },
    "/ai/completions": {
      "post": {
        "tags": ["AI"],
        "summary": "CORE-5 AI completion",
        "description": "Vendor-neutral AI text completion via CORE-5 abstraction layer. Routes to the best available model (OpenRouter → Llama-3 local fallback).",
        "operationId": "aiCompletion",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AICompletionRequest" },
              "example": {
                "prompt": "Summarise this invoice in Yoruba",
                "context": { "invoiceId": "INV-001" },
                "language": "yo",
                "maxTokens": 256
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Completion result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AICompletionResponse" } } } }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhook subscriptions",
        "operationId": "listWebhooks",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Webhook list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookList" } } } }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create webhook subscription",
        "operationId": "createWebhook",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookCreate" } } }
        },
        "responses": {
          "201": { "description": "Webhook created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["email", "password", "tenantSlug"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password" },
          "tenantSlug": { "type": "string", "example": "acme-retail" }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" },
          "expiresIn": { "type": "integer", "example": 3600 },
          "tokenType": { "type": "string", "example": "Bearer" }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slug": { "type": "string" },
          "name": { "type": "string" },
          "vertical": { "type": "string", "enum": ["retail", "transport", "logistics", "fintech", "health"] },
          "currency": { "type": "string", "enum": ["NGN", "GHS", "KES", "ZAR", "USD"] },
          "locale": { "type": "string", "example": "en-NG" },
          "timezone": { "type": "string", "example": "Africa/Lagos" },
          "createdAt": { "type": "string", "format": "date-time" },
          "status": { "type": "string", "enum": ["active", "suspended", "trial"] }
        }
      },
      "TenantCreate": {
        "type": "object",
        "required": ["name", "slug", "vertical"],
        "properties": {
          "name": { "type": "string" },
          "slug": { "type": "string", "pattern": "^[a-z0-9-]+$" },
          "vertical": { "type": "string", "enum": ["retail", "transport", "logistics", "fintech", "health"] },
          "currency": { "type": "string", "default": "NGN" },
          "locale": { "type": "string", "default": "en-NG" }
        }
      },
      "TenantUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "suspended"] }
        }
      },
      "TenantList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Tenant" } },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "limit": { "type": "integer" }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "sku": { "type": "string" },
          "name": { "type": "string" },
          "price": { "type": "integer", "description": "Price in kobo (NGN), pesewas (GHS), or cents (KES)" },
          "currency": { "type": "string" },
          "stock": { "type": "integer" },
          "category": { "type": "string" },
          "tenantId": { "type": "string", "format": "uuid" },
          "isAvailableOffline": { "type": "boolean", "default": true }
        }
      },
      "ProductCreate": {
        "type": "object",
        "required": ["name", "price", "tenantId"],
        "properties": {
          "name": { "type": "string" },
          "sku": { "type": "string" },
          "price": { "type": "integer" },
          "currency": { "type": "string", "default": "NGN" },
          "stock": { "type": "integer", "default": 0 },
          "category": { "type": "string" },
          "tenantId": { "type": "string", "format": "uuid" }
        }
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "total": { "type": "integer" }
        }
      },
      "OrderCreate": {
        "type": "object",
        "required": ["tenantId", "items"],
        "properties": {
          "tenantId": { "type": "string", "format": "uuid" },
          "customerId": { "type": "string" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": { "type": "string" },
                "quantity": { "type": "integer" },
                "unitPrice": { "type": "integer" }
              }
            }
          },
          "paymentMethod": { "type": "string", "enum": ["paystack", "flutterwave", "wallet", "cash", "bank_transfer"] }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "reference": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "confirmed", "processing", "shipped", "delivered", "cancelled"] },
          "total": { "type": "integer" },
          "currency": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "tenantId": { "type": "string" },
          "balance": { "type": "integer" },
          "availableBalance": { "type": "integer" },
          "currency": { "type": "string" },
          "ledger": { "type": "array", "items": { "type": "object" } }
        }
      },
      "TransferRequest": {
        "type": "object",
        "required": ["amount", "currency", "destination"],
        "properties": {
          "amount": { "type": "integer" },
          "currency": { "type": "string" },
          "destination": {
            "type": "object",
            "properties": {
              "accountNumber": { "type": "string" },
              "bankCode": { "type": "string" },
              "accountName": { "type": "string" }
            }
          },
          "narration": { "type": "string" },
          "idempotencyKey": { "type": "string" }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "reference": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "processing", "success", "failed"] },
          "amount": { "type": "integer" },
          "currency": { "type": "string" }
        }
      },
      "TripList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "total": { "type": "integer" }
        }
      },
      "AICompletionRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": { "type": "string" },
          "context": { "type": "object" },
          "language": { "type": "string", "enum": ["en", "yo", "ig", "ha", "fr", "sw", "ar"], "default": "en" },
          "maxTokens": { "type": "integer", "default": 512 },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2, "default": 0.7 }
        }
      },
      "AICompletionResponse": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "model": { "type": "string", "example": "openrouter/mistral-7b" },
          "promptTokens": { "type": "integer" },
          "completionTokens": { "type": "integer" },
          "provider": { "type": "string", "enum": ["openrouter", "llama-local"] }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "events": { "type": "array", "items": { "type": "string" } },
          "secret": { "type": "string" },
          "isActive": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "events": { "type": "array", "items": { "type": "string" } }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Webhook" } },
          "total": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "details": { "type": "object" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized — invalid or missing JWT",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "code": "WW_AUTH_001", "message": "Token is invalid or expired" } } }
      },
      "Forbidden": {
        "description": "Forbidden — insufficient permissions",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "code": "WW_AUTH_003", "message": "Insufficient role permissions" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "code": "WW_404", "message": "Resource not found" } } }
      },
      "BadRequest": {
        "description": "Validation error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "code": "WW_VAL_001", "message": "Validation failed", "details": { "field": "slug", "error": "Must be lowercase alphanumeric with hyphens" } } } }
      },
      "UnprocessableEntity": {
        "description": "Business rule violation",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "code": "WW_FIN_002", "message": "Insufficient wallet balance" } } }
      }
    }
  }
}
